@model Web.Models.RuleEditViewModel

@{
	ViewData["Title"] = "Cập nhật quy tắc";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <!-- Plugins css Ends-->
    <!-- SELECT 2 CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/select2.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
}

<div class="card">
    <div class="card-body">
        <form method="post" action="/rule/edit" class="row g-3 needs-validation custom-input" novalidate="">
            <input asp-for="ruleDTO.Id" name="ruleDTO.Id" hidden>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Pid">Cấp trên</label>
                <select class="form-select" asp-for="ruleDTO.Pid" name="ruleDTO.Pid" id="Pid" required="">
                    <option selected value="0">Không có cấp trên</option>
                    @foreach (var parents in Model.parentRulesDTO)
                    {
						<option value="@parents.Id" selected="@(parents.Id == Model.ruleDTO.Pid ? "selected" : null)">@parents.Title (@parents.Path)</option>
                    }
                </select>
                <div class="invalid-tooltip">Chọn cấp trên.</div>
            </div>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Path">Đường dẫn</label>
                <input class="form-control" asp-for="ruleDTO.Path" name="ruleDTO.Path" id="Path" type="text" placeholder="Ví dụ: /user/index" required="">
                <div class="invalid-tooltip">Điền đường dẫn!</div>
            </div>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Title">Tiêu đề</label>
                <input class="form-control" asp-for="ruleDTO.Title" name="ruleDTO.Title" id="Title" type="text" placeholder="Quản lý người dùng" required="">
                <div class="invalid-tooltip">Điền tiêu đề!</div>
            </div>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Icon">Icon</label>
				<select class="form-select" name="ruleDTO.Icon" id="Icon" required="">
					<option selected value="0">Không có icon</option>
                    @foreach(var icon in Model.iconList)
                    {
                        <option value="@icon" selected="@(icon == Model.ruleDTO.Icon ? "selected" : null)"><i class="@icon"></i> @icon</option>
                    }
                </select>
            </div>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Remark">Mô tả</label>
                <input class="form-control" asp-for="ruleDTO.Remark" name="ruleDTO.Remark" id="Remark" type="text" placeholder="">
            </div>
            <div class="col-md-6 position-relative">
                <label class="form-label" for="Ismenu">Có là menu hay không</label>
                <select class="form-select" asp-for="ruleDTO.Ismenu" name="ruleDTO.Ismenu" id="Ismenu" required="">
                    <option selected value="yes">Là menu</option>
                    <option value="no">Không phải menu</option>
                </select>
                <div class="invalid-tooltip">Chọn lựa chọn.</div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Cập nhật</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/sidebar-pin.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="~/assets/js/form-validation-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <!-- Plugins JS Ends-->

    <!-- SELECT 2 -->
    <script src="~/assets/js/select2/select2.full.min.js"></script>

    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script>
        $(document).ready(function () {
            $('#Pid').select2({
                placeholder: "Chọn cấp trên",
                allowClear: true
            });

            $('#Icon').select2({
                placeholder: "Chọn icon",
                allowClear: true
            });
        });
    </script>
}