@model IEnumerable<Web.Models.BranchViewModel>

@{
    ViewData["Title"] = "ListBranch";
}

<h1>ListBranch</h1>

<p>
    <a asp-action="CreateBranch">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WardCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardCode)
            </td>
            <td>
                    @Html.ActionLink("Update", "UpdateBranch", new { id = item.Id }, new { @href = "http://localhost:5129/Branch/UpdateBranch?id=" + item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
