<!-- Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<!-- ico-font-->
<link href="~/~/~/~/~/đatn/senshine/web/wwwroot/assets/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/js-datatables/style.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/owlcarousel.css">
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

@model ListAppointmentViewModel

@{
    ViewData["Title"] = "Appointment Details";
}
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Appointment ID</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

            <dt class="col-sm-3">Customer Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer.FullName)</dd>

            <dt class="col-sm-3">Customer Phone</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer.Phone)</dd>

            <dt class="col-sm-3">Customer Address</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer.Address)</dd>

            <dt class="col-sm-3">Employee Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Employee.FullName)</dd>

            <dt class="col-sm-3">Services</dt>
            <dd class="col-sm-9">
                <ul>
                    @foreach (var service in Model.Services)
                    {
                        <li>@service.ServiceName</li>
                    }
                </ul>
            </dd>
            <dt class="col-sm-3">Product Used</dt>
            <dd class="col-sm-9">
                <ul>
                    @foreach (var service in Model.Products)
                    {
                        <li>@service.ProductName</li>
                    }
                </ul>
            </dd>
            <dt class="col-sm-3">Appointment Date</dt>
            <dd class="col-sm-9">@Model.AppointmentDate.ToString("dd/MM/yyyy HH:mm:ss")</dd>
            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Model.Status</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a class="btn btn-primary" asp-action="ListAppointment">Back to List</a>
    <!-- Form for deleting the appointment -->
    <form asp-action="DeleteAppointment1" asp-route-id="@Model.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this appointment?');">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/assets/js/scrollbar/simplebar.js"></script>
<script src="~/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="~/assets/js/sidebar-menu.js"></script>
<script src="~/assets/js/sidebar-pin.js"></script>
<script src="~/assets/js/slick/slick.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/assets/js/custom-list-product.js"></script>
<script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
<script src="~/assets/js/ecommerce.js"></script>
<script src="~/assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="~/assets/js/script.js"></script>
<script src="~/assets/js/theme-customizer/customizer.js"></script>