@model Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Chỉnh Sửa Cuộc Hẹn";
    var services = ViewBag.Services as List<Web.Models.ServiceViewModel>;
    var employees = ViewBag.Employees as List<Web.Models.AppointmentEmployeeViewModel>;
    var customers = ViewBag.Customers as List<Web.Models.AppointmentCustomerViewModel>;
}

@section Styles {
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="EditAppointment" method="post" class="row g-3 needs-validation custom-input" novalidate="">
                    <div class="col-md-8 position-relative">
                        <label class="form-label" for="CustomerId">Khách Hàng</label>
                        <select class="form-select" asp-for="CustomerId" name="CustomerId" id="CustomerId" required>
                            <option value="" disabled>Chọn khách hàng...</option>
                            @if (customers != null)
                            {
                                @foreach (var customer in customers)
                                {
                                    <option value="@customer.Id">@customer.FirstName @customer.MidName @customer.LastName</option>
                                }
                            }
                        </select>
                        <div class="invalid-tooltip">Chọn khách hàng.</div>
                    </div>

                    <div class="col-md-8 position-relative">
                        <label class="form-label" for="EmployeeId">Nhân Viên</label>
                        <select class="form-select" asp-for="EmployeeId" name="EmployeeId" id="EmployeeId" required>
                            <option value="" disabled>Chọn nhân viên...</option>
                            @if (employees != null)
                            {
                                @foreach (var employee in employees)
                                {
                                    <option value="@employee.Id">@employee.FirstName @employee.MidName @employee.LastName</option>
                                }
                            }
                        </select>
                        <div class="invalid-tooltip">Chọn nhân viên.</div>
                    </div>

                    <div class="col-md-8 position-relative">
                        <label asp-for="AppointmentDate" class="form-label">Thời Gian Check In</label>
                        <input asp-for="AppointmentDate" class="form-control" type="datetime-local" id="appointmentDateInput" />
                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 position-relative">
                        <label asp-for="AppointmentSlot" class="form-label">Slot</label>
                        <select asp-for="AppointmentSlot" class="form-control" id="slotSelect">
                            <option value="Slot1">Slot 1: 8h30 - 10h</option>
                            <option value="Slot2">Slot 2: 10h - 11h30</option>
                            <option value="Slot3">Slot 3: 11h30 - 13h</option>
                            <option value="Slot4">Slot 4: 13h - 14h30</option>
                            <option value="Slot5">Slot 5: 14h30 - 16h</option>
                            <option value="Slot6">Slot 6: 16h - 17h30</option>
                            <option value="Slot7">Slot 7: 17h30 - 19h</option>
                            <option value="Slot8">Slot 8: 19h - 20h30</option>
                            <option value="Slot9">Slot 9: 20h30 - 22h</option>
                        </select>
                        <span asp-validation-for="AppointmentSlot" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 position-relative">
                        <label asp-for="SelectedServiceIds" class="form-label">Dịch Vụ Sử Dụng</label>
                        <select asp-for="SelectedServiceIds" class="form-control" multiple id="serviceSelect">
                            @if (services != null)
                            {
                                @foreach (var service in services)
                                {
                                    <option value="@service.Id">@service.ServiceName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="SelectedServiceIds" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 position-relative">
                        <label asp-for="Status" class="form-label">Trạng Thái</label>
                        <select asp-for="Status" class="form-control" id="statusSelect">
                            <option value="Cancel">Cancelled</option>
                            <option value="Pending">Pending</option>
                            <option value="Doing">Doing</option>
                            <option value="Combo">Combo Order</option>
                            <option value="Finished">Finished</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="mt-4">
                        <a asp-action="ListAppointment" class="btn btn-secondary">Hủy</a>
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/sidebar-pin.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="~/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/datatables/datatable.custom.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>
}