@using API.Dtos
@using Newtonsoft.Json

@{
    var beds = ViewBag.Beds as List<BedDTO>;
    var slots = ViewBag.Slots as List<SlotDTO>;
    var apiUrl = ViewBag.ApiUrl;
    var selectedDate = ViewBag.Date ?? DateTime.Now.ToString("yyyy-MM-dd"); // Default to today's date
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/datatables.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <style>
        table.table-bordered {
            border: 1px solid #dee2e6; /* Bootstrap default border color */
        }

            table.table-bordered th,
            table.table-bordered td {
                border: 1px solid #dee2e6;
            }

        .date-navigation {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .date-navigation .icon {
                cursor: pointer;
                font-size: 24px;
                padding: 0 10px;
            }
    </style>
}

<!-- Add a date selector with left and right navigation at the top of the page -->
<div class="container date-navigation">
    <i class="fa fa-chevron-left icon" id="prevDay"></i>
    <form id="dateForm" method="get" class="d-inline">
        <input type="date" id="appointmentDate" name="date" value="@selectedDate" class="form-control d-inline" style="width: 200px;" />
    </form>
    <i class="fa fa-chevron-right icon" id="nextDay"></i>
</div>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bed/Slot</th>
            @foreach (var slot in slots)
            {
                <th>@slot.SlotName (@slot.TimeFrom)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var bed in beds)
        {
            <tr>
                <td>@bed.BedNumber</td>
                @foreach (var slot in slots)
                {
                    <td>
                        <!-- This will be populated dynamically based on the API call -->
                        <div id="bed-slot-@bed.Id-@slot.Id" class="card">
                            <div class="card-body text-center">
                                <p>Loading...</p>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/sidebar-pin.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="~/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/datatables/datatable.custom.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Helper function to change date by one day
            function changeDate(days) {
                var appointmentDate = $('#appointmentDate').val();
                var currentDate = new Date(appointmentDate);
                currentDate.setDate(currentDate.getDate() + days); // Add or subtract days
                var newDate = currentDate.toISOString().split('T')[0]; // Format as yyyy-MM-dd
                $('#appointmentDate').val(newDate);
                $('#dateForm').submit(); // Submit the form with the new date
            }

            // Handle clicking on left and right icons
            $('#prevDay').click(function () {
                changeDate(-1); // Go back 1 day
            });

            $('#nextDay').click(function () {
                changeDate(1); // Go forward 1 day
            });

            // Trigger form submit when the date changes
            $('#appointmentDate').change(function () {
                $('#dateForm').submit();
            });

            var beds = @Html.Raw(JsonConvert.SerializeObject(beds));
            var slots = @Html.Raw(JsonConvert.SerializeObject(slots));
            var apiUrl = "@apiUrl";
            var selectedDate = $('#appointmentDate').val() || "@selectedDate"; // Default to selected or today

            beds.forEach(function (bed) {
                slots.forEach(function (slot) {
                    var url = apiUrl + "/Appointment/BedBooked?bedId=" + bed.Id + "&slotId=" + slot.Id + "&date=" + selectedDate;
                    console.log("Calling URL: ", url);

                    $.get(url)
                        .done(function (data) {
                            var cardContent = '';
                            if (data === true) {
                                cardContent = '<h6 class="card-title text-danger">Booked</h6><p class="card-text">Not available</p>';
                            } else {
                                cardContent = '<h6 class="card-title text-success">Available</h6><p class="card-text">Free to book</p>';
                            }
                            $('#bed-slot-' + bed.Id + '-' + slot.Id + ' .card-body').html(cardContent);
                        })
                        .fail(function () {
                            console.error("Failed to fetch booking data for bed " + bed.Id + " and slot " + slot.Id);
                            $('#bed-slot-' + bed.Id + '-' + slot.Id + ' .card-body').html('<p class="text-warning">Error fetching data</p>');
                        });
                });
            });
        });
    </script>
}
