@{
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/photoswipe.css">
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
<link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
@model Web.Models.UserViewModel
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="user-profile">
        <div class="row">
            <!-- user profile first-style start-->
            <div class="col-sm-12">
                <div class="card hovercard text-center">
                    <div class="cardheader"></div>
                    <div class="user-image">
                        <div class="avatar"><img alt="" src="~/assets/images/user/7.jpg"></div>
                        <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ttl-info text-start">
                                            <h6><i class="fa fa-envelope"></i>   Email</h6><span>Marekjecno@yahoo.com</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ttl-info text-start">
                                            <h6><i class="fa fa-calendar"></i>   BOD</h6><span>@Model.BirthDate?.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                                <div class="user-designation">
                                    <div class="title"><a target="_blank" href="user-profile.html">@Model.FullName</a></div>
                                    <div class="desc">@Model.RoleName</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ttl-info text-start">
                                            <h6><i class="fa fa-phone"></i> Số điện thoại</h6><span>@Model.Phone</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ttl-info text-start">
                                            <h6><i class="fa fa-location-arrow"></i> Địa chỉ</h6><span>@Model.Address</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        
                    </div>
                </div>
            </div>
            <!-- user profile first-style end-->
            <!-- user profile second-style start-->
            <div class="col-sm-12">
                <div class="card">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>Slot</th>
                                <th>MON<br>08/07</th>
                                <th>TUE<br>09/07</th>
                                <th>WED<br>10/07</th>
                                <th>THU<br>11/07</th>
                                <th>FRI<br>12/07</th>
                                <th>SAT<br>13/07</th>
                                <th>SUN<br>14/07</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Slot 0</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 1</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 2</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 3</th>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <span class="view-material">VNR202</span><br>at AL-R402<br>
                                    <span class="not-yet">(Not yet)</span><br>
                                    <span class="time-slot">(12:50-15:10)</span><br>
                                    <a href="#" class="meet-url">Meet URL</a>
                                    <a href="#" class="edu-next">EduNext</a>
                                </td>
                                <td>-</td>
                                <td>
                                    <span class="view-material">MLN131</span><br>at BE-206<br>
                                    <span class="not-yet">(Not yet)</span><br>
                                    <span class="time-slot">(12:50-15:10)</span><br>
                                    <a href="#" class="meet-url">Meet URL</a>
                                    <a href="#" class="edu-next">EduNext</a>
                                </td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 4</th>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <span class="view-material">MLN131</span><br>at BE-206<br>
                                    <span class="not-yet">(Not yet)</span><br>
                                    <span class="time-slot">(15:20-17:40)</span><br>
                                    <a href="#" class="meet-url">Meet URL</a>
                                    <a href="#" class="edu-next">EduNext</a>
                                </td>
                                <td>-</td>
                                <td>
                                    <span class="view-material">VNR202</span><br>at AL-R402<br>
                                    <span class="not-yet">(Not yet)</span><br>
                                    <span class="time-slot">(15:20-17:40)</span><br>
                                    <a href="#" class="meet-url">Meet URL</a>
                                    <a href="#" class="edu-next">EduNext</a>
                                </td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 5</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 6</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 7</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 8</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 9</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 10</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 11</th>
                                <td colspan="7">-</td>
                            </tr>
                            <tr>
                                <th scope="row">Slot 12</th>
                                <td colspan="7">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- user profile second-style end-->
            
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="pswp__bg"></div>
                <div class="pswp__scroll-wrap">
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>
                    <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                            <button class="pswp__button pswp__button--share" title="Share"></button>
                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>
                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



<script src="~/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="~/assets/js/scrollbar/simplebar.js"></script>
<script src="~/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="~/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="~/assets/js/sidebar-menu.js"></script>
<script src="~/assets/js/sidebar-pin.js"></script>
<script src="~/assets/js/slick/slick.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/header-slick.js"></script>
<!-- calendar js-->
<script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
<script src="~/assets/js/custom-list-product.js"></script>
<script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
<script src="~/assets/js/ecommerce.js"></script>
<script src="~/assets/js/tooltip-init.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="~/assets/js/script.js"></script>
