@model Web.Models.RoomViewModel

@{
    ViewData["Title"] = "Chi tiết phòng";
}

@{
    List<BedViewModel> beds = ViewBag.Beds;
}

<div class="card">
    <div class="card-body">
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoomName):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoomName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SpaName):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SpaName)
                </dd>
            </dl>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Giường</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bed in beds)
                        {
                            <tr>
                                <td>@bed.BedNumber</td>
                                <td>@bed.StatusWorking</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a href="@Url.Action("ListRoom", "Room")" class="btn btn-primary">Danh sách</a>
            <a href="@Url.Action("UpdateRoom", "Room", new { id = Model.Id })" class="btn btn-primary">Cập nhật</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/datatables.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

    <style>
        .table tbody tr:last-child td {
            border-bottom: 1px solid #dee2e6;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/sidebar-pin.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="~/assets/js/form-validation-custom.js"></script>
    <script src="~/assets/js/height-equal.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>
}
