@{
    var userProfile = ViewData["UserProfile"] as API.Dtos.UserDTO;
}

@{
    IEnumerable<API.Dtos.MenuDTO> menus = ViewData["UserMenu"] as IEnumerable<API.Dtos.MenuDTO>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SenShine Spa And Beauty">
    <meta name="keywords" content="beauty, spa">
    <meta name="author" content="pixelstrap">
    <title>@ViewData["Title"] - SenShineSpa</title>
    <!--icon-->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <style>
        .customlogo {
            width: 50px;
        }

        .sidebar-link i, .sidebar-link li i, .submenu-title i {
            color: white;
        }
    </style>
</head>
<body>
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->

    <div class="toast-container position-fixed top-0 end-0 p-3 toast-index toast-rtl">
        @if (ViewData["Error"] != null)
        {
            <div class="toast fade show" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-between alert-secondary">
                    <div class="toast-body">@ViewData["Error"]</div>
                    <button class="btn-close btn-close-white me-2 m-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        }

        @if (ViewData["SuccessMsg"] != null)
        {
            <div class="toast fade show" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-between alert-primary">
                    <div class="toast-body">@ViewData["SuccessMsg"]</div>
                    <button class="btn-close btn-close-white me-2 m-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        }
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <form class="form-inline search-full col" action="buttons-edge.html#" method="get">
                    <div class="form-group w-100">
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Riho .." name="q" title="" autofocus>
                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading... </span></div><i class="close-search" data-feather="x"></i>
                            </div>
                            <div class="Typeahead-menu"> </div>
                        </div>
                    </div>
                </form>
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"> <a href="/"><img class="img-fluid for-light" src="~/assets/images/landing/landinglogo.png" alt="logo-light"><img class="img-fluid for-dark" src="~/assets/images/landing/landinglogo.png" alt="logo-dark"></a></div>
                    <div class="toggle-sidebar"> <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
                </div>
                <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
                    <div>
                        <a class="toggle-sidebar" href="buttons-edge.html#"> <i class="iconly-Category icli"> </i></a>
                        <div class="d-flex align-items-center gap-2 ">
                            @if (userProfile != null)
                            {
                                <h4 class="f-w-600">Xin chào @userProfile.UserName</h4>
                            }
                            <img class="mt-0" src="~/assets/images/hand.gif" alt="hand-gif">
                        </div>
                    </div>
                    <div class="welcome-content d-xl-block d-none"><span class="col-6" id="quotation">Here’s what’s happening with your store today. </span></div>
                </div>
                <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
                    <ul class="nav-menus">
                        <li>
                            <div class="mode"><i class="moon" data-feather="moon"> </i></div>
                        </li>
                        @if (userProfile != null)
                        {
                            <li class="profile-nav onhover-dropdown">
                                <div class="media profile-media">
                                    <img class="b-r-10" src="~/assets/images/dashboard/profile.png" alt="">
                                    <div class="media-body d-xxl-block d-none box-col-none">
                                        <div class="d-flex align-items-center gap-2">
                                            <span>
                                                @userProfile.UserName
                                            </span>
                                            <i class="middle fa fa-angle-down"> </i>
                                        </div>
                                        <p class="mb-0 font-roboto">@userProfile.RoleName</p>
                                    </div>
                                </div>
                                <ul class="profile-dropdown onhover-show-div">
                                    <li><a href="/auth/profile"><i data-feather="user"></i><span>Cá nhân</span></a></li>
                                    <li> <a href="/auth/changepass"> <i data-feather="settings"></i><span>Đổi mật khẩu</span></a></li>
                                    <li><a class="btn btn-pill btn-outline-primary btn-sm" href="/auth/logout">Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-layout="stroke-svg">
                <div class="logo-wrapper">
                    <a href="/"><img class="img-fluid customlogo" src="~/assets/images/landing/landinglogo.png" alt=""></a>
                    <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                </div>
                <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src="~/assets/images/landing/landinglogo.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn">
                                <a href="/"><img class="img-fluid" src="~/assets/images/landing/landinglogo.png" alt=""></a>
                                <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="pin-title sidebar-main-title">
                                <div>
                                    <h6>Pinned</h6>
                                </div>
                            </li>
                            @if (menus != null && menus.Any())
                            {
                                @foreach (var menu in menus)
                                {
                                    <li class="sidebar-main-title">
                                        <div>
                                            <h6>@menu.Menu.Title</h6>
                                        </div>
                                    </li>

                                    @if (menu.Children.Any())
                                    {
                                        @foreach (var childMenu in menu.Children)
                                        {
                                            <li class="sidebar-list">

                                                @if (childMenu.Menu.Path != "#")
                                                {
                                                    <a class="sidebar-link sidebar-title link-nav" href="@childMenu.Menu.Path">
                                                        <i class="@childMenu.Menu.Icon"></i>
                                                        <span>@childMenu.Menu.Title</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="sidebar-link sidebar-title" href="#">
                                                        <i class="@childMenu.Menu.Icon"></i>
                                                        <span>@childMenu.Menu.Title</span>
                                                        @if (childMenu.Children.Any())
                                                        {
                                                            <div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                                        }
                                                    </a>
                                                    @if (childMenu.Children.Any())
                                                    {
                                                        <ul class="sidebar-submenu">
                                                            @foreach (var subChild in childMenu.Children)
                                                            {
                                                                <li>
                                                                    @if (subChild.Children.Any())
                                                                    {
                                                                        <a class="submenu-title" href="#">
                                                                            <i class="@subChild.Menu.Icon"></i>
                                                                            @subChild.Menu.Title
                                                                            <div class="according-menu"><i class="fa fa-angle-right"></i></div>
                                                                        </a>
                                                                        <ul class="nav-sub-childmenu submenu-content">
                                                                            @foreach (var subSubChild in subChild.Children)
                                                                            {
                                                                                <li>
                                                                                    <a href="@subSubChild.Menu.Path"><i class="@subSubChild.Menu.Icon"></i>@subSubChild.Menu.Title</a>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="@subChild.Menu.Path"><i class="@subChild.Menu.Icon"></i>@subChild.Menu.Title</a>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <ul class="sidebar-link sidebar-title link-nav">
                                                            <li><a href="@childMenu.Menu.Path"><i class="@childMenu.Menu.Icon"></i>@childMenu.Menu.Title</a></li>
                                                        </ul>
                                                    }

                                                }
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="sidebar-list">
                                            <i class="@menu.Menu.Icon"></i>
                                            <a class="sidebar-link sidebar-title link-nav" href="@menu.Menu.Path">
                                                <span>@menu.Menu.Title</span>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                    </div>
                </nav>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                <h4>@ViewData["Title"]</h4>
                            </div>
                            <div class="col-6">
                                <div class="breadcrumb">
                                    @if (ViewData["ActionUrl"] != null)
                                    {
                                        <a href="@ViewData["ActionUrl"]" class="btn btn-primary">@ViewData["ActionName"]</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2024 © SenShineSpa  </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @RenderSection("Scripts", required: false)

    <script>
        const quotations = [
            "Thà thất bại trong sự độc đáo còn hơn thành công trong việc bắt chước",
            "Con đường thành công và con đường thất bại gần như hoàn toàn giống nhau",
            "Thành công thường đến với những người quá bận rộn để tìm kiếm nó.",
            "Cơ hội không xảy ra. Bạn tạo ra chúng.",
            "Đừng ngại từ bỏ điều tốt đẹp để đi đến điều vĩ đại.",
            "Tôi thấy rằng tôi càng làm việc chăm chỉ thì dường như tôi càng gặp nhiều may mắn.",
            "Có hai kiểu người sẽ nói với bạn rằng bạn không thể tạo ra sự khác biệt trong thế giới này: những người ngại thử và những người sợ bạn sẽ thành công.",
            "Những người thành công làm những điều mà những người không thành công không sẵn lòng làm. Đừng ước nó dễ dàng hơn, hãy ước bạn tốt hơn.",
            "Hãy cố gắng đừng trở thành một người đàn ông thành công. Thay vào đó hãy trở thành một người đàn ông có giá trị.",
            "Không bao giờ nhượng bộ ngoại trừ những tin tưởng về danh dự và ý thức tốt.",
            "Mọi vấn đề đều là một món quà - nếu không có vấn đề thì chúng tôi sẽ không phát triển.",
            "Bạn chỉ phải làm một số điều đúng đắn trong cuộc đời, miễn là bạn không làm sai quá nhiều điều.",
            "Và ngày mà rủi ro để còn chặt trong nụ còn đau hơn rủi ro khi nó nở hoa.",
            "Không thiếu những ý tưởng đáng chú ý, điều còn thiếu là ý chí thực hiện chúng.",
            "Tôi không biết từ 'bỏ cuộc'. Hoặc là tôi chưa bao giờ làm, hoặc tôi đã xóa bỏ nó."
        ];

        const showQuotation = () => {
            const randomIndex = Math.floor(Math.random() * quotations.length);
            const quotationElement = document.getElementById('quotation');
            if (quotationElement) {
                quotationElement.innerText = quotations[randomIndex];
            }
        };

        document.addEventListener('DOMContentLoaded', showQuotation);
    </script>

    <script>
        $(document).ready(function () {
            if ($('#errorToast').length) {
                setTimeout(function () {
                    $('#errorToast').toast('hide');
                }, 3000);
            }

            if ($('#successToast').length) {
                setTimeout(function () {
                    $('#successToast').toast('hide');
                }, 3000);
            }
        });
    </script>
</body>
</html>