@{
    var userProfile = ViewData["UserProfile"] as UserViewModel;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SenShine Spa And Beauty">
    <meta name="keywords" content="beauty, spa">
    <meta name="author" content="pixelstrap">
    <title>@ViewData["Title"] - SenShineSpa</title>
    <!--icon-->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <style>
        .customlogo {
            width: 50px;
        }
    </style>
</head>
<body>
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->

    <div class="toast-container position-fixed top-0 end-0 p-3 toast-index toast-rtl">
        @if (ViewData["Error"] != null)
        {
            <div class="toast fade show" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-between alert-secondary">
                    <div class="toast-body">@ViewData["Error"]</div>
                    <button class="btn-close btn-close-white me-2 m-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        }
        else if (ViewData["SuccessMsg"] != null)
        {
            <div class="toast fade hide" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-between alert-primary">
                    <div class="toast-body">@ViewData["SuccessMsg"]</div>
                    <button class="btn-close btn-close-white me-2 m-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        }
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <form class="form-inline search-full col" action="buttons-edge.html#" method="get">
                    <div class="form-group w-100">
                        <div class="Typeahead Typeahead--twitterUsers">
                            <div class="u-posRelative">
                                <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Riho .." name="q" title="" autofocus>
                                <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading... </span></div><i class="close-search" data-feather="x"></i>
                            </div>
                            <div class="Typeahead-menu"> </div>
                        </div>
                    </div>
                </form>
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper"> <a href="index.html"><img class="img-fluid for-light" src="~/assets/images/landing/landinglogo.png" alt="logo-light"><img class="img-fluid for-dark" src="~/assets/images/landing/landinglogo.png" alt="logo-dark"></a></div>
                    <div class="toggle-sidebar"> <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
                </div>
                <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
                    <div>
                        <a class="toggle-sidebar" href="buttons-edge.html#"> <i class="iconly-Category icli"> </i></a>
                        <div class="d-flex align-items-center gap-2 ">
                            @if (userProfile != null)
                            {
                                <h4 class="f-w-600">Xin chào @userProfile.UserName</h4>
                            }
                            <img class="mt-0" src="~/assets/images/hand.gif" alt="hand-gif">
                        </div>
                    </div>
                    <div class="welcome-content d-xl-block d-none"><span class="col-6" id="quotation">Here’s what’s happening with your store today. </span></div>
                </div>
                <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
                    <ul class="nav-menus">

                        <li>
                            <div class="mode"><i class="moon" data-feather="moon"> </i></div>
                        </li>
                        <li class="onhover-dropdown notification-down">
                            <div class="notification-box">
                                <svg>
                                    <use href="~/assets/svg/icon-sprite.svg#notification-header"></use>
                                </svg><span class="badge rounded-pill badge-secondary">4 </span>
                            </div>
                            <div class="onhover-show-div notification-dropdown">
                                <div class="card mb-0">
                                    <div class="card-header">
                                        <div class="common-space">
                                            <h4 class="text-start f-w-600">Notitications</h4>
                                            <div><span>4 New</span></div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="notitications-bar">
                                            <ul class="nav nav-pills nav-primary p-0" id="pills-tab" role="tablist">
                                                <li class="nav-item p-0"> <a class="nav-link active" id="pills-aboutus-tab" data-bs-toggle="pill" href="buttons-edge.html#pills-aboutus" role="tab" aria-controls="pills-aboutus" aria-selected="true">All(3)</a></li>
                                                <li class="nav-item p-0">
                                                    <a class="nav-link" id="pills-blog-tab" data-bs-toggle="pill" href="buttons-edge.html#pills-blog" role="tab" aria-controls="pills-blog" aria-selected="false">
                                                        Messages
                                                    </a>
                                                </li>
                                                <li class="nav-item p-0">
                                                    <a class="nav-link" id="pills-contactus-tab" data-bs-toggle="pill" href="buttons-edge.html#pills-contactus" role="tab" aria-controls="pills-contactus" aria-selected="false">
                                                        Cart
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-aboutus" role="tabpanel" aria-labelledby="pills-aboutus-tab">
                                                    <div class="user-message">
                                                        <div class="cart-dropdown notification-all">
                                                            <ul>
                                                                <li class="pr-0 pl-0 pb-3 pt-3">
                                                                    <div class="media">
                                                                        <img class="img-fluid b-r-5 me-3 img-60" src="~/assets/images/other-images/receiver-img.jpg" alt="">
                                                                        <div class="media-body">
                                                                            <a class="f-light f-w-500" href="product.html">Men Blue T-Shirt</a>
                                                                            <div class="qty-box">
                                                                                <div class="input-group">
                                                                                    <span class="input-group-prepend">
                                                                                        <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">- </button>
                                                                                    </span>
                                                                                    <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                                                        <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                            <h6 class="font-primary">$695.00</h6>
                                                                        </div>
                                                                        <div class="close-circle"><a class="bg-danger" href="buttons-edge.html#"><i data-feather="x"></i></a></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="user-alerts">
                                                                    <img class="user-image rounded-circle img-fluid me-2" src="~/assets/images/dashboard/user/5.jpg" alt="user" />
                                                                    <div class="user-name">
                                                                        <div>
                                                                            <h6><a class="f-w-500 f-14" href="user-profile.html">Floyd Miles</a></h6><span class="f-light f-w-500 f-12">Sir, Can i remove part in des...</span>
                                                                        </div>
                                                                        <div>
                                                                            <svg>
                                                                                <use href="~/assets/svg/icon-sprite.svg#more-vertical"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="user-alerts">
                                                                    <img class="user-image rounded-circle img-fluid me-2" src="~/assets/images/dashboard/user/6.jpg" alt="user" />
                                                                    <div class="user-name">
                                                                        <div>
                                                                            <h6><a class="f-w-500 f-14" href="user-profile.html">Dianne Russell</a></h6><span class="f-light f-w-500 f-12">So, what is my next work ?</span>
                                                                        </div>
                                                                        <div>
                                                                            <svg>
                                                                                <use href="~/assets/svg/icon-sprite.svg#more-vertical"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-blog" role="tabpanel" aria-labelledby="pills-blog-tab">
                                                    <div class="notification-card">
                                                        <ul>
                                                            <li class="notification d-flex w-100 justify-content-between align-items-center">
                                                                <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                                                                    <div class="user-alerts flex-shrink-0"><img class="rounded-circle img-fluid img-40" src="~/assets/images/dashboard/user/3.jpg" alt="user" /></div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="common-space user-id w-100">
                                                                            <div class="common-space w-100"> <a class="f-w-500 f-12" href="private-chat.html">Robert D. Hambly</a></div>
                                                                        </div>
                                                                        <div><span class="f-w-500 f-light f-12">Hello Miss...😊</span></div>
                                                                    </div><span class="f-light f-w-500 f-12">44 sec</span>
                                                                </div>
                                                            </li>
                                                            <li class="notification d-flex w-100 justify-content-between align-items-center">
                                                                <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                                                                    <div class="user-alerts flex-shrink-0"><img class="rounded-circle img-fluid img-40" src="~/assets/images/dashboard/user/7.jpg" alt="user" /></div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="common-space user-id w-100">
                                                                            <div class="common-space w-100"> <a class="f-w-500 f-12" href="private-chat.html">Courtney C. Strang</a></div>
                                                                        </div>
                                                                        <div><span class="f-w-500 f-light f-12">Wishing You a Happy Birthday Dear.. 🥳🎊</span></div>
                                                                    </div><span class="f-light f-w-500 f-12">52 min</span>
                                                                </div>
                                                            </li>
                                                            <li class="notification d-flex w-100 justify-content-between align-items-center">
                                                                <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                                                                    <div class="user-alerts flex-shrink-0"><img class="rounded-circle img-fluid img-40" src="~/assets/images/dashboard/user/5.jpg" alt="user" /></div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="common-space user-id w-100">
                                                                            <div class="common-space w-100"> <a class="f-w-500 f-12" href="private-chat.html">Raye T. Sipes</a></div>
                                                                        </div>
                                                                        <div><span class="f-w-500 f-light f-12">Hello Dear!! This Theme Is Very beautiful</span></div>
                                                                    </div><span class="f-light f-w-500 f-12">48 min</span>
                                                                </div>
                                                            </li>
                                                            <li class="notification d-flex w-100 justify-content-between align-items-center">
                                                                <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                                                                    <div class="user-alerts flex-shrink-0"><img class="rounded-circle img-fluid img-40" src="~/assets/images/dashboard/user/6.jpg" alt="user" /></div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="common-space user-id w-100">
                                                                            <div class="common-space w-100"> <a class="f-w-500 f-12" href="private-chat.html">Henry S. Miller</a></div>
                                                                        </div>
                                                                        <div><span class="f-w-500 f-light f-12">You’re older today than yesterday, happy birthday!</span></div>
                                                                    </div><span class="f-light f-w-500 f-12">3 min</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-contactus" role="tabpanel" aria-labelledby="pills-contactus-tab">
                                                    <div class="cart-dropdown mt-4">
                                                        <ul>
                                                            <li class="pr-0 pl-0 pb-3">
                                                                <div class="media">
                                                                    <img class="img-fluid b-r-5 me-3 img-60" src="~/assets/images/other-images/cart-img.jpg" alt="">
                                                                    <div class="media-body">
                                                                        <a class="f-light f-w-500" href="product.html">Furniture Chair for Home</a>
                                                                        <div class="qty-box">
                                                                            <div class="input-group">
                                                                                <span class="input-group-prepend">
                                                                                    <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-</button>
                                                                                </span>
                                                                                <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                                                    <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <h6 class="font-primary">$500</h6>
                                                                    </div>
                                                                    <div class="close-circle"><a class="bg-danger" href="buttons-edge.html#"><i data-feather="x"></i></a></div>
                                                                </div>
                                                            </li>
                                                            <li class="pr-0 pl-0 pb-3 pt-3">
                                                                <div class="media">
                                                                    <img class="img-fluid b-r-5 me-3 img-60" src="~/assets/images/other-images/receiver-img.jpg" alt="">
                                                                    <div class="media-body">
                                                                        <a class="f-light f-w-500" href="product.html">Men Cotton Blend Blue T-Shirt</a>
                                                                        <div class="qty-box">
                                                                            <div class="input-group">
                                                                                <span class="input-group-prepend">
                                                                                    <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">- </button>
                                                                                </span>
                                                                                <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                                                    <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <h6 class="font-primary">$695.00</h6>
                                                                    </div>
                                                                    <div class="close-circle"><a class="bg-danger" href="buttons-edge.html#"><i data-feather="x"></i></a></div>
                                                                </div>
                                                            </li>
                                                            <li class="mb-3 total">
                                                                <a href="checkout.html">
                                                                    <h6 class="mb-0">
                                                                        Order Total :<span class="f-right">$1195.00  </span>
                                                                    </h6>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-footer pb-0 pr-0 pl-0">
                                                    <div class="text-center">
                                                        <a class="f-w-700" href="private-chat.html">
                                                            <button class="btn btn-primary" type="button" title="btn btn-primary">Check all</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="profile-nav onhover-dropdown">
                            <div class="media profile-media">
                                <img class="b-r-10" src="~/assets/images/dashboard/profile.png" alt="">
                                <div class="media-body d-xxl-block d-none box-col-none">
                                    <div class="d-flex align-items-center gap-2"> <span>Alex Mora </span><i class="middle fa fa-angle-down"> </i></div>
                                    <p class="mb-0 font-roboto">Admin</p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li><a href="user-profile.html"><i data-feather="user"></i><span>My Profile</span></a></li>
                                <li><a href="letter-box.html"><i data-feather="mail"></i><span>Inbox</span></a></li>
                                <li> <a href="edit-profile.html"> <i data-feather="settings"></i><span>Settings</span></a></li>
                                <li><a class="btn btn-pill btn-outline-primary btn-sm" href="login.html">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script class="result-template" type="text/x-handlebars-template">
                    <div class="ProfileCard u-cf">
                    <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
                    <div class="ProfileCard-details">
                    <div class="ProfileCard-realName">{{name}}</div>
                    </div>
                    </div>
                </script>
                <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
            </div>
        </div>
        <!-- Page Header Ends                              -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-layout="stroke-svg">
                <div class="logo-wrapper">
                    <a href="index.html"><img class="img-fluid customlogo" src="~/assets/images/landing/landinglogo.png" alt=""></a>
                    <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                </div>
                <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/assets/images/landing/landinglogo.png" alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn">
                                <a href="index.html"><img class="img-fluid" src="~/assets/images/landing/landinglogo.png" alt=""></a>
                                <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="pin-title sidebar-main-title">
                                <div>
                                    <h6>Pinned</h6>
                                </div>
                            </li>

                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Bảng điều khiển</h6>
                                </div>
                            </li>

                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/user/index">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý người dùng</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/customer/index">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý khách hàng</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/setting/index">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý khóa cài đặt</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("Index", "Combo")">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý combo</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/Card/ListCard">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý thẻ</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/Room/ListRoom">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý phòng</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/Salary/ListSalary">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý lương</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/Branch/ListBranch">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý chi nhánh</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="/setting/index">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý hoá đơn</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("ProductList", "Product")">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý Sản Phẩm</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("NewsList", "News")">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý Bản Tin</span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <i class="fa fa-thumb-tack"></i>
                                <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("ListPromotion", "Promotions")">
                                    <svg class="stroke-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#stroke-file"></use>
                                    </svg>
                                    <svg class="fill-icon">
                                        <use href="~/assets/svg/icon-sprite.svg#fill-file"></use>
                                    </svg><span>Quản lý Mã Giảm Giá</span>
                                </a>
                            </li>
                            <li class="sidebar-main-title">
                                <div>
                                    <h6>Thống kê</h6>
                                </div>
                            </li>

                        </ul>
                        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                    </div>
                </nav>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                <h4>@ViewData["Title"]</h4>
                            </div>
                            <div class="col-6">
                                <div class="breadcrumb">
                                    @if (ViewData["ActionUrl"] != null)
                                    {
                                        <a href="@ViewData["ActionUrl"]" class="btn btn-primary">@ViewData["ActionName"]</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2024 © SenShineSpa  </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @RenderSection("Scripts", required: false)

    <script>
        const quotations = [
            "Thà thất bại trong sự độc đáo còn hơn thành công trong việc bắt chước",
            "Con đường thành công và con đường thất bại gần như hoàn toàn giống nhau",
            "Thành công thường đến với những người quá bận rộn để tìm kiếm nó.",
            "Cơ hội không xảy ra. Bạn tạo ra chúng.",
            "Đừng ngại từ bỏ điều tốt đẹp để đi đến điều vĩ đại.",
            "Tôi thấy rằng tôi càng làm việc chăm chỉ thì dường như tôi càng gặp nhiều may mắn.",
            "Có hai kiểu người sẽ nói với bạn rằng bạn không thể tạo ra sự khác biệt trong thế giới này: những người ngại thử và những người sợ bạn sẽ thành công.",
            "Những người thành công làm những điều mà những người không thành công không sẵn lòng làm. Đừng ước nó dễ dàng hơn, hãy ước bạn tốt hơn.",
            "Hãy cố gắng đừng trở thành một người đàn ông thành công. Thay vào đó hãy trở thành một người đàn ông có giá trị.",
            "Không bao giờ nhượng bộ ngoại trừ những tin tưởng về danh dự và ý thức tốt.",
            "Mọi vấn đề đều là một món quà - nếu không có vấn đề thì chúng tôi sẽ không phát triển.",
            "Bạn chỉ phải làm một số điều đúng đắn trong cuộc đời, miễn là bạn không làm sai quá nhiều điều.",
            "Và ngày mà rủi ro để còn chặt trong nụ còn đau hơn rủi ro khi nó nở hoa.",
            "Không thiếu những ý tưởng đáng chú ý, điều còn thiếu là ý chí thực hiện chúng.",
            "Tôi không biết từ 'bỏ cuộc'. Hoặc là tôi chưa bao giờ làm, hoặc tôi đã xóa bỏ nó."
        ];

        const showQuotation = () => {
            const randomIndex = Math.floor(Math.random() * quotations.length);
            const quotationElement = document.getElementById('quotation');
            if (quotationElement) {
                quotationElement.innerText = quotations[randomIndex];
            }
        };

        document.addEventListener('DOMContentLoaded', showQuotation);
    </script>
</body>
</html>
