@model IEnumerable<Web.Models.CardViewModel>

@{
    ViewData["Title"] = "Quản lý thẻ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="list-product-header">
                        <div>
                            <div class="light-box">
                                <a data-bs-toggle="collapse" href="list-products.html#collapseProduct" role="button" aria-expanded="false" aria-controls="collapseProduct">
                                    <i class="filter-icon show" data-feather="filter"></i>
                                    <i class="icon-close filter-close hide"></i>
                                </a>
                            </div>
                            <a class="btn btn-primary" href="@Url.Action("CreateCard", "Card")"><i class="fa fa-plus"></i>Tạo thẻ</a>
                        </div>
                        <div class="collapse" id="collapseProduct">
                            <div class="card card-body list-product-body">
                                <form method="get" action="@Url.Action("ListCard", "Card")">
                                    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3">
                                        <div class="col">
                                            <select class="form-select" name="status" aria-label="Select Status">
                                                <option selected="" disabled>Trạng thái</option>
                                                <option value="Active">Hoạt động</option>
                                                <option value="Deactive">Không hoạt động</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary">Filter</button>
                                        </div>
                                        <div class="col">
                                            <a href="@Url.Action("ListCard", "Card")" class="btn btn-secondary">Reset</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="list-product">
                        <table class="table" id="project-status">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th> <span class="f-light f-w-600">@Html.DisplayNameFor(model => model.CardNumber)</span></th>
                                    <th> <span class="f-light f-w-600">@Html.DisplayNameFor(model => model.CustomerName) </span></th>
                                    <th> <span class="f-light f-w-600">@Html.DisplayNameFor(model => model.CustomerPhone)</span></th>
                                    <th> <span class="f-light f-w-600">@Html.DisplayNameFor(model => model.CreateDate)</span></th>
                                    <th> <span class="f-light f-w-600">@Html.DisplayNameFor(model => model.Status)</span></th>
                                    <th> <span class="f-light f-w-600">Thao tác</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="@Url.Action("DetailCard", "Card", new { id = item.Id })">
                                                @Html.DisplayFor(modelItem => item.CardNumber)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.CustomerPhone)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Cập nhật", "UpdateCard", new { id = item.Id }, new { @href = "http://localhost:5129/Card/UpdateCard?id=" + item.Id }) |
                                            @Html.ActionLink("Chuyển trạng thái", "ChangeStateCard", new { id = item.Id }, new { @onclick = "return confirmChangeState(" + item.Id + ")" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/js-datatables/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/owlcarousel.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
}

@section Scripts {
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/sidebar-pin.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="~/assets/js/js-datatables/simple-datatables@latest.js"></script>
    <script src="~/assets/js/custom-list-product.js"></script>
    <script src="~/assets/js/owlcarousel/owl.carousel.js"></script>
    <script src="~/assets/js/ecommerce.js"></script>
    <script src="~/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script>
        function confirmChangeState(id) {
            if (confirm("Are you sure you want to change the state of this card?")) {
                return true;
            } else {
                return false;
            }
        }
    </script>
}